ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:left;
    
        display: block;
       
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 1px;
        margin-inline-end: 1px;
        padding-inline-start: 40px;
    
   }
   h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 25px;
}
   
  li {
    float: left;
    background-color: rgb(248, 235, 219);
    display: list-item;
    font-size: 20px;
    text-align: center;
 }

#findBar {
    font-size: 30px;
}

 .profile-img {
    width: 150px;
    border-radius: 50%;
    
}
.search-input{
    position:center;
}
  li a {
    padding: 14px 16px;
    font-size: 25px;
    text-decoration: crimson;
    color:rgb(109, 31, 31);
  }
  .lB {
     text-align: center;
     display: inline;
     color:rgb(109, 31, 31);
     font-size:30px;
  } 
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}

  body{
    background-color:rgb(248, 235, 219);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px 1px ;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .button{
      padding: 4vw
  }
 
.nav{
      width: 100%;
      text-align: center;
      display: inline-block;
      margin-top: 3vw;
  }
 
 


  
  
  @media screen and (max-width: 1092px) {
    
  
 
  }
  
  @media screen and (max-width: 632px) {
      .search {
          margin-bottom: 10px;
      }
  
  }